.form {
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.inputForm {
	width: 300px;
	height: 40px;
	border-radius: 20px;
	padding-left: 20px;
	font-size: 20px;
}

.btnForm {
	width: 300px;
	height: 40px;
	border-radius: 20px;
	font-size: 20px;
	background-color: #7994c2;
	color: white;
}

.btnForm:hover {
	background-color: rgba(121, 148, 194, 0.5);
}
